# Environment & secrets
.env
client_secrets.json
client_secrets_comments.json

youtube_token.json
youtube_comment_token.json

# Generated assets & output
assets/images/
assets/cache.json
output/
assets/music/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
# no need to push images etc to git
.assets/
.output/


